<footer>
    <section class="backToTop">
        <p><a href="#">Back To Top</a></p>
    </section>

    <section class="contact">
        <div class="storeDetails row">
            <div class="col">
                <p><strong>Company</strong></p>
                <p class="small"><a href="#">About Us</a></p>
                <p class="small"><a href="#">Careers</a></p>
                <p class="small"><a href="#">Policy</a></p>
            </div>
            <div class="col">
                <p><strong>Contact Us</strong></p>
                <p class="subContact"><a href="#">dhara@web322.com</a></p>
                <p><a href="#">Customer Support <i class="material-icons contact">support_agent</i></a></p>
            </div>
            <div class="col">
                <p><strong>Subscribe</strong></p>
                <p>Subscribe and get special offers.</p>
                <p class="icon">
                    <a href="#"><i class="material-icons">email</i></a>
                    <a href="#"><i class="material-icons">facebook</i></a>
                    <a href="#"><i class="material-icons">subscriptions</i></a>
                </p>
            </div>
        </div>
    </section>
    <p id="footer">Copyright © Winter 2021, Dhara Moghariya, WEB322NDD</p>
</footer>