<header>
    <div class="logoHeader" id="logoHeader">
        <a href="/"><img src="images/logo.png" id="logo" alt="logo" /></a>
    </div>
    <nav id="navigationbar" class="navbar row">
        <ul class="nav1">
            <li id="menu" class="navMain">
                <a href="#"><i class="material-icons">menu</i></a>
                <ul>
                    <li id="home"><a href="/">Home</a></li>
                    <li id="menu"><a href="/menu">Menu</a></li>
                    <li id="login"><a href="/login">Log In</a></li>
                    <li id="signup"><a href="/signup">Sign Up</a></li>
                </ul>
            </li>
            <ul class="nav2">
                <li>
                    <a href="/"><i class="material-icons" id="homepage">home</i></a>
                </li>
                <li>
                    <a href="/about" class="text">About</a>
                </li>
                <li>
                    <a href="/menu" class="text">Menu</a>
                </li>
                <li>
                    <a href="/deal" class="text">Deal</a>
                </li>
                <li>
                    <a href="/cart"><i class="material-icons">shopping_cart</i></a>
                </li>
            </ul>
        </ul>
        <ul class="nav3">
            <li>
                <a href="/login" class="text">Log in</a>
            </li>
            <li>
                <a href="/signup" class="text">Sign up</a>
            </li>
        </ul>
    </nav>
</header>