<section class="infoContainer" id="homeInfo">
    <div class="infoDiv">
        <h1 id="subtitleInfo">How It Works</h1>

        <p class="infoText p25">Every week fresh and delicious produce will be delivered to your doorstep.
            Follow our website to prepare new, testy and authentic dished
            using our original recipes.</p>

        <div id="displayBlock" class="products-grid product infoImg">

            <a href="#" class="productDec">
                <img class="info-image" src="https://i.imgur.com/gEkwIGh.jpg" alt="product">
                <p class="product-title"><b>Your Preferences, Our Ingredients</b></p>
                <p><b>Select ingredients that suites
                        you like, from variety of
                        available options.</b></p>
            </a>

            <a href="#" class="productDec">
                <img class="info-image" src="https://i.imgur.com/Q5fv7Es.jpg" alt="product">
                <p class="product-title"><b>Traditional & Authentic recipes</b></p>
                <p><b>Award winning Michelin Star chefs’ study
                        and create authentic and traditional
                        recipes for breakfast, lunch
                        and dinner.</b></p>
            </a>

            <a href="#" class="productDec">
                <img class="info-image" src="https://i.imgur.com/75N54ck.jpg" alt="product">
                <p class="product-title"><b>Tasty & Delicious Meals everyday</b></p>
                <p><b>We do not repeat our recipes and
                        have food from regions
                        across the world.</b></p>
            </a>

        </div>

    </div>
</section>