<a href="#" class="productDec meal">
    <img class="project-image" src="{{this.imageUrl}}" alt="product">
    <p class="product-title">{{this.title}}<br>
        <small>{{this.include}}</small><br>
    </p>
    <p>Price: ${{this.price}}</p>
</a>