<nav class="menu">
    <ul class="navMenu row">
        {{#each menuItems}}
        <li>
            <a href="#{{repString this.category " " "" }}" class="text">{{this.category}}</a>
        </li>
        {{/each}}
    </ul>
</nav>

<h1 class="menuH1">Menu of Dhara's Healthy Goods</h1>

{{#each menuItems}}
<div id={{repString this.category " " "" }} class="mealDiv">
    <h1> {{this.category}}</h1>

    <div id="displayBlock" class="products-grid menu-grid">
        {{#each this.categoryItems}}
        {{>meal this}}
        {{/each}}
    </div>

</div>
{{/each}}