/* Add any CSS you need to this file. */

/* Meal kit form */
.btnWidth {
  width: 150px;
}

.btnRow {
  padding-left: 35%;
  padding-right: 35%;
}

.divTop {
  padding: 125px;
  padding-bottom: 50px;
  text-align: center;
}

.divBottom {
  padding-bottom: 225px;
}

.inputdata {
  color: black;
}

.mealForm {
  background-color: rgb(221, 221, 221);
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 20px;
  font-family: "Signika", sans-serif;
  color: #266150;
}
.mealForm .inputFullWidth {
  width: 100%;
}

/* Contact page form */
.contactMain {
  background-color: rgb(221, 221, 221);
  padding: 5% 30%;
  padding-top: 120px;
  font-family: "Signika", sans-serif;
  color: #266150;
}

.contactHeader {
  text-align: center;
  padding: 3%;
}
#ordernumber {
  visibility: hidden;
  height: 0;
}

p {
  text-align: center;
}

.col {
  min-width: 200px;
}

.btn {
  background-color: #266150;
  width: 100%;
}
.btn:hover {
  background-color: #9dc88d;
  color: #266150;
}

.error {
  color: red;
}

@media only screen and (max-width: 900px) {
  .minWidth {
    width: 100%;
  }
}
