<!--************************************************************************************
*  WEB322 – Assignment 3 (Winter 2021) 
*  I declare that this assignment is my own work in accordance with Seneca Academic 
*  Policy. No part of this assignment has been copied manually or electronically from 
*  any other source (including web sites) or distributed to other students.
*   
*  Name:  Dhara Moghariya
*  Student ID:  161449194
*  Course:  WEB322 NDD
*
************************************************************************************-->

<div class="contactMain" id="contactmain">
    <h1 class="contactHeader">Welcome</h1>

    <!-- Submit the form to login using a POST request -->
    <form id="contact-form" action="/login" method="POST">
        <div class="form-row">
            <div class="form-group col">
                <label for="email"><span class="text-danger">*</span> Email Address</label>
                <input id="email" class="form-control" name="email" autocomplete="email" value="{{values.email}}"
                    placeholder="user@example.com" type="email" tabindex="1" />
                {{#if validationMessages.email}}
                <span class="error">{{ validationMessages.email }}</span><br />
                {{/if}}
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col">
                <label for="password"><span class="text-danger">*</span> Password</label>
                <input id="password" class="form-control" name="password" value="{{values.password}}"
                    placeholder="******" type="password" tabindex="2" />
                {{#if validationMessages.password}}
                <span class="error">{{ validationMessages.password }}</span><br />
                {{/if}}
            </div>
        </div>

        <br />

        <div class="row">
            <div class="form-group col">
                <input class="btn btn-primary" type="submit" name="submit" value="Log In" tabindex="3" />
            </div>
        </div>
    </form>
</div>